## Ignore Visual Studio Code temporary files, workspace, and Python virtual environment
##
## Get latest from https://github.com/github/gitignore/blob/master/VisualStudio.gitignore

# Python virtual environment
.venv/

# Log files
logs/*.csv

# Visual Studio Code
.vscode/

# Other Excluded Files and Folders

# VS code workspace
*.code-workspace

